extends layout

block content
  .timeline#follow
    .followings.half
      h2 following
      if user.Followings
        for following in user.Followings
          div= following.nick
    .followers.half
      h2 follower
      if user.Followers
        for follower in user.Followers
          div= follower.nick